practice invoices
PyInvoiceMaster/FINAL NEW LOGO FOR ECA.png
PyInvoiceMaster/__pycache__

JobAutomation/Automatic Bulk File Creator in VBA.xlsm
JobAutomation/Automatic-Bulk-File-Creator-in-VBA.zip
JobAutomation/Create MYCAA Automation.xlsm
JobAutomation/Elearning Automation.xlsm
JobAutomation/ILT Automation.xlsm
JobAutomation/MYCAA Automation.xlsm
JobAutomation/test1.xlsx
JobAutomation/test2.xlsx
JobAutomation/__pycache__
Lambda
dropbox_aws.py




